[settings]
experimental = true
lockfile = true
pin = true

[tools]
act = "0.2.82"
bun = "1.3.1"
docker-cli = "28.5.1"
docker-compose = "2.40.2"
node = "25.1.0"
"npm:@infisical/cli" = "0.43.20"

[tasks."docker:build:push"]
depends = ["env:file"]
run = "act --job docker-build-push --secret-file .env.workflows"
description = "Build the backend docker image and push to the registry"

[tasks."env:file"]
run = ["infisical export --format=dotenv > .env.workflows"]
description = "Write environment variables to the .env.workflows file"
